<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
	<property>
		<name>wboard.server.host</name>
		<value>localhost</value>
	</property>
	<property>
		<name>wboard.server.port</name>
		<value>5000</value>
	</property>
	<property>
		<name>wboard.server.log.path</name>
		<value>/logs</value>
	</property>
</configuration>
